# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.moved-aside
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# Arduino build artifacts
*.hex
*.elf
*.bin
*.uf2

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# JetBrains
.idea/
